
<% include header %>
	<table id="myTable">
	
	<thead>
		<% for (var key in movies[0]){  %>  
	
 			<th> <%= key %>  </th>
 		<% } %>
	</thead>
	
		<% movies.forEach(function(movie){ %>
 			
			<tr>
				<td> <a href="/movie/<%=movie.id %> "><%= movie.title %> </a> </td>
				<td> <%= movie.rating %> </td>
				<td> <%= movie.votes %> </td>
				<td> <%= movie.id %> </td>
				<td> <img src="<%= movie.image %>" alt="the current movie poster image" > </td>
				
			</tr>
	
  		<% }) %>
  			
	</table>

	<button><a href="/new"> Add movie</button>
	
<% include footer %>