<% include header %>
<form>
<<<<<<< HEAD
        
        <label class="formdiv"> Movie title: </label><div class="inputdiv"><input type="text" value="<%=title%>"></div><br>
        <label class="formdiv"> Rating: </label><div class="inputdiv"><input type="text" value="<%=rating%>"></div><br>
        <label class="formdiv"> Votes: </label><div class="inputdiv"><input type="text" value="<%=votes%>"></div><br>
        </div><br>
</form>        
<% include footer %>
=======
	
	<label class="formdiv"> Movie title: </label><div class="inputdiv"><input type="text" value="<%=title%>"></div><br>
	<label class="formdiv"> Rating: </label><div class="inputdiv"><input type="text" value="<%=rating%>"></div><br>
	<label class="formdiv"> Votes: </label><div class="inputdiv"><input type="text" value="<%=votes%>"></div><br>
	</div><br>
</form>	
<% include footer %>
test


	
>>>>>>> f860deb053586ba48a226ee70f3f0fdf69cb8530
